{{extend 'layout.html'}}

<div style="background:light grey !important" class="jumbotron">
   <h1>
       www.vectorbyte.org <br>
       <h2>
           Ecological Informatics Data Platform
       </h2>
       
       <h3>
           Eco-Informatics Working Group <br>
           Matthew Watts, m.watts@imperial.ac.uk, <br>
           Francis Windram, francis.windram17@imperial.ac.uk<br>
           Department of Life Sciences, Imperial College London, UK

       </h3>
       <br>
       <div class="center">
            <img src="{{=URL('static/images','NIH.png')}}" style="width:25%;height:25%;">
            <br>
            <img src="{{=URL('static/images','BBSRC.png')}}" style="width: 50%">
            <br>
            <img src='{{=URL('static/images','VB_logo_black.svg')}}'/>
        </div>

    </h1>
</div>
