{{extend 'layout.html'}}

        <head>

    <style>
h3 {
    text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}
p {
text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}

</style>

  </head>

<head>
<div style="background: linear-gradient(240deg, lightgrey, beige)" class="jumbotron">


     <h2>
       Data Submissions
      </h2>

    <br>
    
    <h3>Vector popuation dynamics data releated documents and files</h3>



<br>
    <li>{{=A('VecDyn data collection templates, submission instructions and procedures can be found here', _href='https://github.com/vectorbite/VecDyn')}} (Currently being developed)</li>

    <br>
    <br>
<h3>Vector traits data related documents and files:</h3>
    <br>
    More news to follow, we will start developing this database in 2018</p>


</div>
</div>

 
</div>

    </head>