{{extend 'layout.html'}}


            <div class="btn-group.btn-group-justified" role="group" aria-label="...">
            {{=A('Back',_href=URL('default','tasks'),_class="btn btn-primary")}}
            {{if task.task_type == 'vecdyn data submission':}}
            {{=A('Import',_href=URL('vecdyn','dataset_registration',vars={'task_id':task.id}),_class="btn btn-primary")}}
            {{=A('Download attached dataset',_href=URL('default', 'download', args=task.file),_class="btn btn-primary")}}
            {{else:}}
            {{pass}}

</div>

<div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">






{{=form}}

    </div>
