{{extend 'layout.html'}}

<div style="background:light grey !important" class="jumbotron">
   <h1>

       <h2>
           Funding Sources: Ecological Informatics Data Platform
       </h2>
<p>
    VectorByTE's Ecological Informatics Data Platform was funded by The National Institutes of Health (NIH), the U.S. National Library of Medicine, the Biotechnology and Biological Sciences Research Council and UK Research and Innovation.
</p>
       <br>


       <br>
       <div class="center">
            <img src="{{=URL('static/images','NIH.png')}}" style="width:25%;height:25%;">
            <br>
            <img src="{{=URL('static/images','BBSRC.png')}}" style="width: 50%">
            <br>
            <img src='{{=URL('static/images','VB_logo_black.svg')}}'/>
        </div>

    </h1>
</div>

