 {{extend 'layout.html'}}


         <div style="background: linear-gradient(240deg, lightgrey, beige)" class="jumbotron">
       <h2>

            <h2> <center>Issues, troubleshooting & suggestions</center></h2>

           <br>
<p>If you would like to submit suggestions or todos with regards to the database and web app (e.g. new columns, schema, documentation,  modifications etc.) Please
    register them through our {{=A('GitHub issue tracker', _href='https://github.com/vectorbite/VectorBiteDataPlatform/issues')}}.
    For anything else, please contact us using the form below.
</p>

                <br>
<p>
    * = required
    </p>

      </h2>
    {{=BEAUTIFY(form)}}
    </div>

