{{extend 'layout.html'}}




     <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
      <h2> <center>VecDyn Data Submissions </center></h2>
<br>
<div class="container-fluid">
<br>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Instructions</button>
            <br>
  <div id="demo" class="collapse">
    <li>To download our current data set templates 'right click' and select ‘save.as’ on the appropriate link below. </li>
       <li>You can also view the field descriptions for each template by following the link beside them </li>
        <li> {{=A('VecDyn population data collection template', _href='https://raw.githubusercontent.com/vectorbite/VectorBiteDataPlatform/master/static/Documentation/VecDyn/Template%26Scripts/VecDyn_template.csv')}};  </li>
      <li>{{=A('VecDyn template description', _href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynUserDocs.md')}}  </li>

    <li> To submit a data set, please fill in the form below and upload your dataset. Note that the all files need to be submitted in CSV format.</li>

  </div>
       </div>
<br>
           <br>
                     <br>

{{=BEAUTIFY(form)}}
    </div>

