{{extend 'layout.html'}}


<div style="background: linear-gradient(240deg, lightgrey, beige)" class="jumbotron">
       <h2>
       Data Submissions

      </h2>
<br>
    <li>{{=A('VecDyn data collection templates, submission instructions and procedures can be found here', _href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynDocs.md')}}</li>
    <li> To submit data, please fill in the form below. Note that the all files need to be submitted in CSV format.</li>

    <br>
    {{=form}}
    </div>

