{{extend 'layout.html'}}




     <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
      <h2> <center>VecDyn Data Submissions </center></h2>
<br>
<div class="container-fluid">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#info">Instructions</button>
  <div id="info" class="collapse">
      <br>
     <li>You can either send us your data in your own format or  mapped to the VecDyn template. </li>
       <li>   If you are going to submit a dataset in your own format,  please make sure it meets the minimum requirements
         listed {{=A('here',_href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynUser%26CuratorGuide.md#requirements-for-datasets-not-in-the-vecdyn-template-format',_target='_blank')}}.</li>
    <li>To download the current VecDyn data set template {{=A('right click here',_href='https://raw.githubusercontent.com/vectorbite/VectorBiteDataPlatform/master/static/Documentation/VecDyn/Template%26Scripts/VecDyn_template.csv')}}
        and select ‘save.as’ </li>
      <li>To help you map data to the VecDyn dataset template, please read the {{=A('Data collection model field descriptions',_href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynUser%26CuratorGuide.md#data-collection-models',_target='_blank')}}.

    <li> To submit a dataset, please ensure that you fill in the form below and upload your dataset. Note that the all files need to be submitted in CSV format.</li>

  </div>
       </div>
<br>
           <br>
                     <br>
<p>
    * = required
    </p>
{{=BEAUTIFY(form)}}
    </div>

