{{extend 'layout.html'}}

<head>

    <style>
h3 {
    text-shadow: 1px 1px 1px whitesmoke;
}
p {
text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}

</style>

  </head>


        <body>
<div style="background: linear-gradient(240deg, lightgrey, beige)" class="jumbotron jumbotron-fluid">
    <div class="container">
    <h3>
        VecDyn Population Dynamics Search</h3>
<p class="lead">Search for population data here, for instructions on how to query data please refer to our {{=A('GitHub documentation pages', _href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynDocs.md')}}>
  <p/>
  {{=BEAUTIFY(grid)}}
    </body>
     </div>
    </div>

<script type="text/javascript">
         $(document).ready(function() {
            $("#fake_exp_sel").click(function() {
                $("#exp_sel").click();
            });
         });
     </script>

