{{extend 'layout.html'}}

<head>

    <style>
h3 {
    text-shadow: 1px 1px 1px whitesmoke;
}
p {
text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}

</style>

  </head>


        <body>
<div style="background: linear-gradient(40deg, lightgray, beige)" class="jumbotron jumbotron-fluid">
    <div class="container">
    <h3>
        VecDyn Population Dynamics Search</h3>
  <p/>
  {{=BEAUTIFY(grid)}}
    </body>
     </div>
    </div>

<script type="text/javascript">
         $(document).ready(function() {
            $("#fake_exp_sel").click(function() {
                $("#exp_sel").click();
            });
         });
     </script>

