{{extend 'vdlayout.html'}}

<style>
div {
  text-align: left;

</style>

<body>

    <div class="container">
        <img src='{{=URL('static/images','VB_logo_black.svg')}}'/>

        <div class="top-left">
            <h2>Citing VecDyn data</h2>
            <br>
            <div>

                <p style="color:black;">
                There are many different reference formats and reference managers that handle data-set and database citations differently.
                    The following points provide you with instructions of how to site the data-sets and the VecDyn database in APA.
</p>
<ol style="color:black;">
                    <li> State the creator, owner, or collection organization first. This might be an organization, university, company,
                or governmental body. This information is found in the 'collection_author.name' field in your data file.  </li>
                <li> Write the title of the database i.e. <i>VecDyn</i> in italics</li>
<li>                Place the word “database” in brackets next to the title. This tells the reader that this citation is a database.
    After the second bracket, place a period (known as a full stop in British English).
</li>
            <li>
                Add the URL or DOI at the end of the citation. Write the words “retrieved from” before adding the link
                <a href="https://www.vectorbyte.org/vecdyn">www.vectorbyte.org/vecdyn</a>
            </li>

</ol>
           <p style="color:black;">
The final citation might look like: <br>
                <br>
Mosquito surveillance from the Toledo Area Sanitary District program to survey mosquito populations. <i>VecDyn</i> [database]. Retrieved from <a href="https://www.vectorbyte.org/vecdyn">www.vectorbyte.org/vecdyn</a>.
<br>
               <br>
VecDyn data is often made up of long time series data that is submitted at different time intervals, often annually.
                    Therefore it is not often appropriate to site a publication year. However, you could add the year you accessed the database
                if required. Furthermore, if you are combining a number of Vecdyn data-sets in a study, you should provide a reference for each  creator, owner, or collection organization (point 1).
</p>


            </div>
        </div>
    </div>
