{{extend 'layout.html'}}
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>


        <div class="btn-group">
         {{=A('Cancel',_href=URL('view_data', vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}
  </div>
        <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">






            <div class="alert alert-warning" role="alert">
  <strong>Warning!
    <br>
  </strong> Are you sure you the best match for <b> "{{=location_description}}" </b>  is:
<br>

                <br>

            <table style="width:100%">
  <tr>
    <th>Country</th>
    <th>Administrative Division 1</th>
      <th>Administrative Division 2</th>
      <th>Administrative Division 3</th>
      <th>Administrative Division 4</th>
      <th>Administrative Division 5</th>
  </tr>
  <tr>
    <td>{{=name_0}}</td>
    <td>{{=name_1}}</td>
    <td>{{=name_2}}</td>
      <td>{{=name_3}}</td>
      <td>{{=name_4}}</td>
        <td>{{=name_5}}</td>
  </tr>
</table>
 </div>

 <br>
        {{=BEAUTIFY(form)}}
    </div>