{{extend 'layout.html'}}
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>


        <div class="btn-group">
         {{=A('Cancel',_href=URL('view_data', vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}
  </div>
        <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">






            <div class="alert alert-warning" role="alert">
  <strong>Warning!
    <br>
  </strong> Are you sure you the best match for <b> "{{=location_description}}" </b>  is:

 </div>


            <div class="container-fluid">
<table class="table table-striped col-md-2">
  <tr>
    <th>Country</th>
    <th>Administrative Division 1</th>
      <th>Administrative Division 2</th>

  </tr>
  <tr>
    <td>{{=adm0_name}}</td>
    <td>{{=adm1_name}}</td>
    <td>{{=adm2_name}}</td>

  </tr>
</table>
 </div>

 <br>
        {{=BEAUTIFY(form)}}
    </div>