{{extend 'vdlayout.html'}}
<!--
Colour Palette:
#FFE47A
#DCC26D
#DFF2D8
#B4B8AB
#153243
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
    <div class="container">
        <img src='{{=URL('static/images','VB_logo_black.svg')}}'/>

        <div class="top-left">
            <h1>Welcome to VecDyn!</h1>
            <div>
                <p>
                    VecDyn is an addressable database of vector population dynamics, incorporating data from years of vector
                    research.
                    It is actively maintained by a team from Imperial College London as a part of the larger VectorByte
                    RCN. <br> <br>
                    Arthropods play a dominant role in natural and human-modified terrestrial ecosystem dynamics. Spatially-explicit arthropod population time-series data are crucial for statistical or mathematical models of thes dynamics and assessment of their veterinary, medical, agricultural, and ecological impacts. Such data have been collect world-wide for over a century, but remain scattered and largely inaccessible. Our mission is to collect and standardise vector population data and make it available for the scientific community
                    <br><br>
                    For further information on the VecDyn database and help using the Vectorbyte webapp to download and submit data,
                    please visit our <a href="https://vectorbitedataplatform.readthedocs.io/en/latest/vecdyn/" target="_blank"> VecDyn documentation</a> pages.
                Here you can also access data collection templates and examples that will help you prepare data for
                submission.
                    <br><br>
                    Please use the navigation bar above to find your way around VecDyn, or click the button below to
start exploring the publicly-available data.
                    <br>
                <hr>
                <a href="{{=URL('vecdyn', 'vecdyn_taxon_location_query')}}">
                    <div class="vbbasebox vd">
                        Explore VecDyn
                    </div>
                </a>
                </p>
                <hr>
  <!--<h1>Key database statistics</h1> -->
                <p>
                     <!--  Number of data sets: {{=dsets}} <br>
                    Number of observations: {{=obs}} <br>
                 Number of species: {{=taxa}} <br>
                    Number of countries: {{=countries}}<br>
                    Number of first division admin regions (state equivalent): {{=regions}} <br>
                    number of second division admin regions (county equivalent): {{=counties}} <br>  -->

                </p>





            </div>
        </div>
    </div>
</body>