{{extend 'layout.html'}}
        <div class="btn-group">
            {{=A('Data sets',_href=URL('my_collections'),_class="btn btn-primary")}}
            {{=A('Add data',_href=URL("data_uploader", "importer", vars={'data_set_id': data_set_id}),_class="btn btn-primary")}}
            {{if count >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'data_set_id':data_set_id}),_class="btn btn-warning")}}
            {{elif count2 >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'data_set_id':data_set_id}),_class="btn btn-warning")}}
            {{else:}}
            {{pass}}


  </div>
           <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
<div class="alert alert-warning" role="alert">
{{=message}}
</div>
{{=BEAUTIFY(form)}}
    </div>