{{extend 'layout.html'}}



<div class="btn-group.btn-group-justified" role="group" aria-label="...">

      <a class="btn btn-primary" href="{{=URL('default','index')}}">{{=T("Finish")}}</a>
    <a class="btn btn-primary" href="{{=URL('vecdyn','collection_registration')}}">{{=T("Register New Data Set")}}</a>
        <a class="btn btn-info" href="https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynCuratorDocs.md">{{=T('Documentation')}}</a>
</div>



     <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
         <h5>Data set registrations</h5>
         <br>
         <div class="container left">

         </div>

                   <div class="alert alert-info" role="alert"> {{=A('For information on adding and managing data, go to the database curator instructions', _href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynCuratorDocs.md')}}
    </div>
{{=BEAUTIFY(form)}}
    </div>

