{{extend 'layout.html'}}


<div class="btn-group">
    {{=A('Finish',_href=URL('default','index'),_class="btn btn-primary")}}
{{=A('Register new data set',_href=URL('collection_registration'),_class="btn btn-primary")}}
  </div>
              <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
                   <li> {{=A('For information on adding and managing data, go to the database curator instructions', _href='https://github.com/vectorbite/VectorBiteDataPlatform/blob/master/static/Documentation/VecDyn/VecDynCuratorDocs.md')}}
    </li>
<br>
{{=BEAUTIFY(form)}}
    </div>

