{{extend 'layout.html'}}

        <div class="btn-group">
             {{=A('Finish',_href=URL('view_data',vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}</div>


<div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">

    <div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Select the entry you want to re-standardise!
</div>

<div class="container-fluid">


  <table class="table table-striped">
    <thead>
      <tr>
       <th>Original Name </th>
        <th>Country</th>
        <th>Administrative Division 1</th>
        <th>Administrative Division 2</th>
        <th>Re-standardise Entry</th>
      </tr>
    </thead>

    <tbody> {{for row in rows:}}
      <tr>
          <td>{{=row.study_meta_data.location_description}}</td>
          <td>{{=row.gaul_admin_layers.adm0_name}}</td>
          <td>{{=row.gaul_admin_layers.adm1_name}}</td>
          <td>{{=row.gaul_admin_layers.adm2_name}}</td>
          <td>{{=A('Standardise geo information',_href=URL("vecdyn", "location_select", vars={'study_meta_data_id': row.study_meta_data.id, 'location_description': row.study_meta_data.location_description,
                                           'publication_info_id': publication_info_id}),_class="btn btn-primary")}} </td>
      </tr>      {{pass}}
    </tbody>
  </table>

</div>