{{extend 'layout.html'}}

        <div class="btn-group">
            {{=A('Back to my collections',_href=URL('my_collections'),_class="btn btn-primary")}}
            {{=A('Skip',_href=URL('view_data',vars={'data_set_id':data_set_id}),_class="btn btn-primary")}}


  </div>
           <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
        <div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> You currently have {{=count}} entries that need to be standardised.
</div>

{{=BEAUTIFY(form)}}
    </div>