{{extend 'layout.html'}}

        <div class="btn-group">
           {{=A('Cancel',_href=URL('view_data',vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}

            {{=A('Skip',_href=URL('standardise_geo_data',vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}




  </div>
           <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
            <div class="alert alert-danger" role="alert">
  <strong>Warning!</strong> You currently have {{=count}} entries that need to be standardised
</div>

{{=BEAUTIFY(form)}}
    </div>
