{{extend 'vdlayout.html'}}




     <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
      <h2> <center>VecDyn Data Submissions </center></h2>
<br>
<div class="container-fluid">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#info">Instructions</button>
  <div id="info" class="collapse">
      <br>

    <li>To download the current VecDyn data set template {{=A('right click here',_href='https://raw.githubusercontent.com/vectorbite/VectorBiteDataPlatform/master/static/documentation/VecDyn/Template_and_Scripts/vecdyn_template.csv',_target='_blank')}}
        and select ‘save.as’ </li>

      <li> For further information on preparing data for submission, please visit our <a href="https://vectorbitedataplatform.readthedocs.io/en/latest/vecdyn/" target="_blank"> VecDyn documentation</a> pages.</li>

    <li> To submit a dataset, please ensure that you fill in the form below and attach your dataset in CSV format.</li>

  </div>
       </div>
<br>
           <br>
                     <br>
<p>
    * = required
    </p>
{{=BEAUTIFY(form)}}
    </div>

