{{extend 'layout.html'}}
<div class="btn-group.btn-group-justified" role="group" aria-label="...">
            {{=A('Back to Data Collections Page',_href=URL('dataset_registrations'),_class="btn btn-primary")}}
            {{=A('Upload Data',_href=URL('vecdyn_data_uploader','importer',vars={'id':publication_info_id}),_class="btn btn-primary")}}
            {{if count >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'publication_info_id':publication_info_id}),_class="btn btn-warning")}}
            {{elif count2 >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'publication_info_id':publication_info_id}),_class="btn btn-warning")}}
            {{else:}}
            {{pass}}

  </div>
           <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">
<h2><center>Data Set Metadata<center></center></h2>
                                  <div class="btn-group.btn-group-justified" role="group" aria-label="...">
    <a class="btn btn-link" href="{{=URL('vecdyn','view_data',vars={'publication_info_id':publication_info_id})}}">{{=T("View standardised data")}}</a>
         <a class="btn btn-link" href="{{=URL('vecdyn','view_unstandardised_data',vars={'publication_info_id':publication_info_id})}}">{{=T("View unstandardised data")}}</a>
 </div>


 <br>



      {{if ds_count != 0:}}
                 <div class="alert alert-warning alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{=message}}</div>
      {{else:}}
            {{pass}}






{{=BEAUTIFY(form)}}
    </div>
