{{extend 'layout.html'}}

<div class="btn-group.btn-group-justified" role="group" aria-label="...">
            {{=A('Back to Data Collections Page',_href=URL('dataset_registrations'),_class="btn btn-primary")}}
            {{=A('Upload Data',_href=URL('vecdyn_data_uploader','vecdyn_importer',vars={'publication_info_id':publication_info_id}),_class="btn btn-primary")}}

    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Standardisation<span class="caret"></span></button>

    <ul class="dropdown-menu" role="menu">
      <li>{{=A('View Standardised',_href=URL('vecdyn','view_data',vars={'publication_info_id':publication_info_id}))}}</li>
      <li>{{=A('View Unstandardised',_href=URL('vecdyn','view_unstandardised_data',vars={'publication_info_id':publication_info_id}))}}</li>
        <li>{{=A('Re-standardize Taxonomic Entries',_href=URL('vecdyn','re_standardise_taxon',vars={'publication_info_id':publication_info_id}))}}</li>
            <li>{{=A('Re-standardize Geographic Entries',_href=URL('vecdyn','re_standardise_geo_data',vars={'publication_info_id':publication_info_id}))}}</li>
    </ul>
        {{if count >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'publication_info_id':publication_info_id}),_class="btn btn-warning")}}
            {{elif count2 >=1:}}
            {{=A('Standardise',_href=URL('standardise_taxon',vars={'publication_info_id':publication_info_id}),_class="btn btn-warning")}}
            {{else:}}
            {{pass}}
  </div>
</div>
           <div style="background: linear-gradient(240deg, lightgrey, whitesmoke)" class="jumbotron">


                                 <h5><center> {{for row in publication_info_query:}}
 <center>Unstandardised Meta-data Entries For: {{=row.title}}</center>
                      {{pass}}
                  </center>
                  </h5>
<br>

                                    {{if ds_count != 0:}}
                 <div class="alert alert-warning alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{=message}}</div>
      {{else:}}
            {{pass}}

{{=BEAUTIFY(form)}}
    </div>
