{{extend 'vtlayout.html'}}
<!--
Colour Palette:
#FFE47A
#DCC26D
#DFF2D8
#B4B8AB
#153243
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
    <div class="container">
    <img src='{{=URL('static/images','VectorByte-logo-4k.png')}}'/>

        <div class="top-left">
            <h1>Welcome to VecTraits!</h1>
            <div>
                <p>
                    <b>VecTraits</b> is an addressable database of trait data that is actively maintained by a team from <b>Imperial College London</b> as a part of the larger <b>VectorBiTE RCN</b>.
                    <br><br>
                    VecTraits evolved from a previous traits-database project: <b><a href="https://biotraits.ucla.edu/">BioTraits</a></b>, which was conceived and developed to address the lack of standardised data on functional traits of organisms across all taxa. VecTraits is an extension of BioTraits, focusing on adding new data on traits of vectors (and pathogens).
                    We recently began adding data from our initial efforts to digitize data on vector species (over <b>7,200 rows</b>) and anticipate finishing this in early <b>Spring 2020</b>.
                    <br><br>
                    Please use the navigation bar above to find your way around VecTraits, or click the button below to start exploring the publicly-available data.
                    <br>
                    <hr>
                    <h2>Vital VecTraits statistics</h2>
                    VecTraits contains {{=rows}} rows of trait data<br>
                    from {{=pubs}} publications<br>
                    spanning {{=taxa}} taxa<br>
                    across {{=locs}} locations globally
                <hr>
                <a href="{{=URL('vectraits', 'view_vectraits')}}">
                    <div class="vbbasebox vt">
                        Explore VecTraits
                    </div>
                </a>
                </p>
            </div>
        </div>
    </div>
</body>
