{{extend 'vtlayout.html'}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
    <div class="container">
        <img src='{{=URL('static/images','VB_logo_black.svg')}}'/>

        <div class="top-left">
            <h1>Validation successful</h1>
            <div>
                <p>
                    Please note, you must be logged in to submit data!<br><hr>
                    Original filename = {{=filename}}<br>
                    Temp filename = {{=tempname}}<br>
                    File length = {{=file_length}} rows<br><br>
                    <button type="button" class="btn btn-secondary" onclick="location.href='{{=URL('cancel_dataset_upload')}}'">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='{{=URL('submit_dataset_for_upload')}}'">Submit for upload</button>

                </p>
            </div>
        </div>
    </div>
</body>